<!DOCTYPE html> 
<html lang="de">
    <head>
        <meta charset="UTF8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/cert.ico') }}">

  
        {% block head  %}{% endblock %}
    </head>
    <body>
    <header id="header">
        <h1><a href="/overview" style="color: white; text-decoration: none;">educa</a> </h1>

        <style>
        .language-switch {
            position: absolute;
            top: 35px;
            right: 50px;
        }
        
        /* Make links white and remove underline */
        .language-switch a {
            color: white;
            margin: 0 5px; /* small spacing between links */
        }
        
        /* Optional: change color on hover */
        .language-switch a:hover {
            color: #ddd;
        }
        </style>
        
        <div class="language-switch">
            <a href="{{ url_for('set_language', lang='de') }}">de</a> | 
            <a href="{{ url_for('set_language', lang='fr') }}">fr</a>
        </div>

    </header>
    <main id="main">
        {% block index %}
        {% endblock %}
    </main>
    {% block scripts %}{% endblock %}
    <footer id="footer">
        <!-- <a href="https://www.educa.ch/de/datenschutzerklaerung" style="color: white; text-decoration: none;">Datenschutzerklärung</a> -->
        <img src="{{ url_for('static', filename='images/switch.png') }}" alt="Footer Image" style="height: 100px; margin-left: 10px;">
    </footer>
    </body>
</html>