{% extends "base.html" %}

{% block head %}
    <title>{% trans %}Identifikation{% endtrans %}</title>
{% endblock %}

{% block index %}
    <h1>{% trans %}Identifikation{% endtrans %}</h1>
    <form method="POST">
        <label>{% trans %}Nachname:{% endtrans %}</label>
        <input type="text" name="name" required>

        <label>{% trans %}Vorname:{% endtrans %}</label>
        <input type="text" name="surname" required>

        <label>{% trans %}Geburtsdatum:{% endtrans %}</label>
        <input type="text" name="dateOfBirth" required>

        <button type="submit">{% trans %}Digitales Maturazeugnis erhalten{% endtrans %}</button>
    </form>

    {% if person_exists is not none %}
        {% if person_exists %}
            <p style="color: green;">{% trans %}✔ Person erfolgreich identifiziert.{% endtrans %}</p>
        {% else %}
            <p style="color: red;">{% trans %}✘ Es wurde kein passender Eintrag gefunden.{% endtrans %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
