{% extends "base.html" %}

{% block head %}
    <title>Identification</title>
{% endblock %}

{% block index %}
    <h1>Identifikation</h1>
    <form method="POST">
        <label>Nachname:</label>
        <input type="text" name="name" required>

        <label>Vorname:</label>
        <input type="text" name="surname" required>

        <button type="submit">Digitales Maturazeugnis erhalten</button>
    </form>

    {% if person_exists is not none %}
        {% if person_exists %}
            <p style="color: green;">✔ Person found in the database.</p>
        {% else %}
            <p style="color: red;">✘ Person not found in the database.</p>
        {% endif %}
    {% endif %}
{% endblock %}
