{% extends 'base.html' %}

{% block head %}
    <title>...</title>
{% endblock %}

{% block index %}   
    <div>
        <h1 style="text-align:center;">{% trans %}Zeugnis prüfen und mit der Registrierten-Datenbank abgleichen.{% endtrans %}</h1>
        <img src="{{ url_for('static', filename='images/loading.gif') }}" 
             alt="Validation Loading" 
             style="width:300px; height:auto;">
    </div>
{% endblock %}

{% block scripts %}
     <script>
        const proofId = "{{ proof_id }}";
        // Nach 5 Sekunden weiterleiten
        setTimeout(function(){
            window.location.href = `/mz-validated/${proofId}`;
        }, 5000);
    </script>
{% endblock %}