{% extends 'base.html' %}

{% block head %}
    <title>{% trans %}Übersicht{% endtrans %}</title>
{% endblock %}

{% block index %}
    <div class="container">
    <h2>{% trans %}Übersicht{% endtrans %}</h2>

    <div class="tile-container">
        <a class="tile" href="/">
            {% trans %}Maturazeugnis ausstellen{% endtrans %}
        </a>

        <a class="tile" href="/university">
            {% trans %}Für einen Studiengang registrieren{% endtrans %}
        </a>

        <a class="tile" href="https://www.bcs.admin.ch/bcs-web/#/beta-id/create" 
           target="_blank" rel="noopener noreferrer">
            {% trans %}Beta E-ID erhalten{% endtrans %}
        </a>
    </div>
</div>
{% endblock %}