{% extends 'base.html' %}

{% block head %}
    <title>{% trans %}Registrieren{% endtrans %}</title>
{% endblock %}

{% block index %}
    <h2>{% trans %}Registrierungsmethode{% endtrans %}</h2>

    <h3>{% trans %}Sie registrieren sich für den Studiengang:{% endtrans %} {{ program }}</h3>
    <form action="/register-e-id">
        <button type="submit">{% trans %}Ich möchte mich mit meiner E-ID registrieren{% endtrans %}</button>
    </form>

    <p>{% trans %}Wenn Sie nur ein digitales Maturitätszeugnis haben, klicken Sie hier:{% endtrans %}</p>
    <form action="/register-mz">
        <button type="submit">{% trans %}Ich möchte mein digitales Maturitätszeugnis verwenden{% endtrans %}</button>
    </form>
    </form>
{% endblock %}