{% extends "base.html" %}

{% block head %}
    <title>{% trans %}Registrieren{% endtrans %}</title>
{% endblock %}

{% block index %}
    <h1>{% trans %}Registrierung abschliessen{% endtrans %}</h1>
    <form method="POST">
        <label>{% trans %}Studiengang{% endtrans %}</label>
        <h3>{{ program }}</h3>

        <label>{% trans %}Nachname:{% endtrans %}</label>
        <input type="text" name="name" required>

        <label>{% trans %}Vorname:{% endtrans %}</label>
        <input type="text" name="surname" required>

        <label>{% trans %}Geburtsdatum:{% endtrans %}</label>
        <input type="text" name="dateOfBirth" required>

        <button type="submit">{% trans %}Registrieren{% endtrans %}</button>
    </form>
{% endblock %}
