{% extends "base.html" %}

{% block head %}
<style>
    body {
        font-family: "EducaSans", Helvetica, sans-serif;
        padding: 2rem;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        background: #fff;
        padding: 10px;
        margin: 5px 0;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    }
</style>
{% endblock %}

{% block index %}
<h1>{% trans %}Existierende Datenbankeinträge{% endtrans %}</h1>
<h3>{% trans %}Vorname Name - Geb. Datum - Studiengang - Validiert{% endtrans %}</h3>
{% if registered %}
    <ul>
        {% for person in registered %}
            <li>{{ person.name }} {{ person.surname }} - {{person.dateOfBirth}} - {{ person.program }} - {{ '✅' if person.validation else '❌' }} - {{ '✍️' if person.registration_method == 'Manual' else '🆔' }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>{% trans %}Keine Datenbankeinträge gefunden!{% endtrans %}</p>
{% endif %}
{% endblock %}
